<h1> New bouquet</h1>
<%=form_for @bouquet, controller:'flowers',action:'create'  do |f|  %>
  <div style="display: flex;flex-direction: column;width: 50%">
    <%=f.label :name %>
    <%= f.text_field :name%>

    <%= f.submit "Create" %>
  </div>

<%end %>